@import "./colors";

.footer {
  //   width: 60%;
  //   margin: 0 auto;
  margin-bottom: 10px;

  hr {
    opacity: 0.6;
    margin-bottom: 10px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    > p {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.5px;
      > span {
        color: $sc;
      }
    }

    > div {
      display: flex;
      align-items: center;
      gap: 15px;

      > a {
        text-decoration: none;
        color: $pc;
        font-size: 18px;
        background-color: $pc;
        color: $bg;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
