@import "./colors";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    > p {
      &:nth-child(1) {
        font-size: 28px;
        font-weight: bold;
      }
      &:nth-child(2) {
        font-size: 48px;
        font-weight: bold;
      }
      &:nth-child(3) {
        font-size: 20px;
        > span {
          color: $sc;
          font-weight: bold;
        }
      }
    }

    > a {
      text-decoration: none;
      color: $bg;
      width: max-content;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: $sc;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 90%;
    gap: 15px;

    > div {
      > p {
        &:nth-child(1) {
          font-size: 24px;
        }
        &:nth-child(2) {
          font-size: 32px;
        }
        &:nth-child(3) {
          font-size: 18px;
        }
      }

      > a {
        padding: 8px 16px;
      }
    }

    > img {
      width: 70%;
    }
  }
}
