@import "./colors";

.skills {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  margin-bottom: 20px;

  > p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    > span {
      color: $sc;
    }
  }

  > div {
    width: 70%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 30px;

    > a {
      text-decoration: none;
      color: inherit;

      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        > i {
          font-size: 32px;
        }
        > img {
          max-width: 100px;
          max-height: 50px;
        }
        > p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    width: 90%;
    padding-top: 10px;

    > div {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
